.bicycles-bg{
  background: linear-gradient(to right, var(--c-0) 20%, var(--c-11) 0);
}

.bicycles{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
  padding: 3.75rem 0;
  background: url("../../img/dec/top-right.svg") no-repeat top 40px right 20px;
}

.bicycles-img{
  display: grid;
}

.bicycles-img img{
  grid-area: 1/1;
}

.bicycles-img span{
  grid-area: 1/1;
  place-self: start end;
  margin-top: 1.25rem;
  background: var(--c-12);
  padding: 0.5rem 1rem;
  display: inline-block;
  border-radius: 0.25rem 0 0 0.25rem;
}

.bicycles-content{
  display: grid;
  grid-template-columns: 1fr auto;
  align-content: start;
}

.bicycles-content p, h2{
  grid-column: 1/-1;
}

.bicycles-content h2{
  margin-bottom: 1.25rem;
}

.bicycles-content h2::before{
  content: "";
  display: block;
  width: 12px;
  height: 8px;
  background-color: var(--c-p1);
  margin-bottom: 0.5rem;
}

.bicycles-content p{
  margin-bottom: 2rem;
}

.bicycles-content a{
  place-self: end;
}

.bicycles-content ul{
  display: grid;
  gap: 1rem;
}

.bicycles-content li{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.bicycles-content img{
  width: 24px;
}

@media (max-width: 800px){
  .bicycles-bg{
    background: var(--c-11);
  }
  .bicycles{
    grid-template-columns: 1fr;
    gap: 1.25rem;
    padding: 2.5rem 0;
  }
}

@media (max-width: 600px){
  .bicycles-content{
    grid-template-columns: 1fr;
  }

  .bicycles-content ul{
    font-size: 1rem;
    margin-bottom: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .bicycles-content a{
    place-self: start;
  }
}