.bicycle{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: start;
  gap: 2.5rem;
  padding: 3.75rem 0;
}

.bicycle-img{
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
}

.bicycle-img img{
  flex: 1;
  min-width: 200px;
}

.bicycle-img img:first-child{
  min-width: 100%;
}

.bicycle-content > p{
  margin-bottom: 2rem;
}

.bicycle-purchase{
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  justify-content: start;
  gap: 0.5rem 0.75rem;
  margin-bottom: 2.5rem;
}

.bicycle-purchase a{
  grid-row: span 2;
}

.bicycle-purchase span{
  display: flex;
  align-items: center;
  background-color: var(--c-12);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  gap: 0.5rem;
  max-width: max-content;
}

.bicycle-content h2{
  letter-spacing: 0.15em;
  margin-bottom: 0.75rem;
}

.bicycle-info{
  margin-bottom: 2.5rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
}

.bicycle-info h3{
  margin: 0.5rem 0;
}

.bicycle-info, .bicycle-technique{
  padding: 2rem;
  background: var(--c-12);
  border-radius: 0.25rem;
}

.bicycle-technique li{
  padding: 0.25rem 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--c-11);
}

.bicycle-technique li:last-child{
  border-bottom: none;
}

@media (max-width: 800px){
  .bicycle{
    grid-template-columns: 1fr;
    padding: 2.5rem 0;
  }

  .bicycle-img{
    grid-row: 2;
  }
}

@media (max-width: 400px){
  .bicycle-info{
    grid-template-columns: 1fr;
  }

  .bicycle-purchase{
    grid-template-columns: 1fr;
  }
}