#contact{
  background: linear-gradient(var(--c-11) 600px, var(--c-1) 0);
}

.contact{
  display: grid;
  grid-template-columns: 5fr 7fr;
}

.contact-data, .contact-form{
  padding: 3.75rem;
  box-shadow: 0 1px 2pxrgba(0, 0, 0, 0.1);
}

.contact-data{
  background: var(--c-12);
  border-radius: 0.25rem 0 0 0.25rem;
}

.contact-form{
  background: var(--c-0);
  border-radius: 0 0.25rem 0.25rem 0;
}

.contact-data h2{
  margin-bottom: 3.75rem;
}

.contact-adress{
  margin-bottom: 2rem;
  padding-left: 1.75rem;
  background: url("../../img/icons/local.svg") no-repeat 0 2px;
}

.contact-adress p{
  margin-bottom: 0.5rem;
}

.contact-methods a{
  display: block;
  max-width: max-content;
  margin-bottom: 0.5rem;
  padding-left: 1.75rem;
  transition: 0.3s;
}

.contact-methods a:hover{
  color: var(--c-0);
}

.contact-methods{
  margin-bottom: 2rem;
  background: url("../../img/icons/email.svg") no-repeat 0 2px;
}

.contact-methods a:nth-child(2){
  margin-bottom: 2rem;
}

.contact-methods a:nth-child(3){
    background: url("../../img/icons/telefone.svg") no-repeat 0 2px;
    margin-bottom: 3.75rem;
}

.contact-networks{
  display: flex;
  gap: 2rem;
  padding-left: 1.75rem;
}

@media (max-width: 800px){
  .contact{
    grid-template-columns: 1fr;
  }

  .contact-data, .contact-form{
  padding: 1.25rem;
  }

  .contact-data{
    border-radius: 0.25rem 0.25rem 0 0;
  }

  .contact-form{
    border-radius: 0 0 0.25rem 0.25rem;
  }

  .contact-data h2, .contact-methods:nth-child(3){
    margin-bottom: 2rem;
  }
}