.advantages-bg{
  background: var(--c-12);
}

.advantages h3{
  font-weight: 600;
}

.advantages h2{
  margin-bottom: 3.75rem;
}

.advantages{
  padding: 7.5rem 0;
}

.advantages ul{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, max-content));
  gap: 2.5rem 5rem;
}

.advantages img, h3{
  margin-bottom: 0.5rem;
}

@media (max-width: 800px){
  .advantages{
    padding: 3.75rem 0;
  }

  .advantages h2{
    margin-bottom: 2.5rem;
  }

  .advantages ul{
    gap: 1.25rem;
  }
}